@model CP5Hospital.Models.PlanoSaude

@{
    ViewBag.Title = "Excluir Plano de Saúde";
}

<h2>Excluir Plano de Saúde</h2>

<p>Tem certeza que deseja excluir o plano de saúde <strong>@Model.NomePlano</strong>?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a href="/PlanoSaude" class="btn btn-secondary">Cancelar</a>
</form>
